*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.checkers{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     box-shadow: 0px 0px 1.5rem 0.7rem rgb(0 0 0 / 20%);
     height: 100%;
     width: 100%;
     /* display: grid;
     grid-template-columns: auto auto auto auto auto auto auto auto auto auto; */
}
.box{
     width: 85px;
     padding: 35px 0;
}
.brown{
     background-color: brown;
}
.butter{
     background-color: lightgoldenrodyellow;
}
.check-white{
     background-color: #fff;
     width: 20px;
     height: 20px;
     padding: 12px;
     border: 1px solid #000;
     border-radius: 50%;
}
.check-black{
     background-color: #000;
     width: 20px;
     height: 20px;
     padding: 12px;
     border: 1px solid #fff;
     border-radius: 50%;
}